{% extends 'base.html' %}
{% block title %}
    Профиль {{ f_p }}
{% endblock %}

{%  block content %}
    <h1><b>Profile {{ f_p }}</b></h1>
    <img src="{{ url_for("static", filename="login.png") }}" width="1000" height="600" alt="ops image">

    <h1 id="titles_on_page"><b>{{ f_p  }}'s Posts</b></h1>
    {% for i in posts[::-1] %}

        <p><span id="nicks">{{ i.users1[0].nick }}</span><span id="post_title"><b>: {{ i.title }}</b></span></p>

        <p id="post_body">{{ i.body }}</p>
        <span>Date: {{ i.created_time }} | Comments: {{ i.answers_|length }}</span>
        <form action="{{ url_for('discuss_page', post_id = i.id)}}" method="Post">
            <input style="float: right;font-weight: 600;margin:-20px 0 40px 90%" id="login" value="Discuss" type="submit" alt="forum"/>
        </form>

    {% endfor %}
{% endblock %}